Makefile
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
debian/Makefile
depcomp
include/Makefile
include/config.h
include/stamp-h1
install-sh
librioutil/Makefile
libtool
linux_driver/Makefile
ltmain.sh
man/Makefile
man/rioutil.1
missing
spec/Makefile
spec/rioutil.spec
src/Makefile
src/rioutil
m4
autom4te.cache
configure
*~
*.in
*.lo
*.o
*.la
.deps
.libs